@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;

#payment-change {
  width: 100%;
  height: 170px;
  background-color: $color-white;
}