@use "./assets/scss/fonts" as *;
@use "./assets/scss/variables" as *;
@use "./assets/scss/mixins" as *;
*{margin: 0;padding: 0;box-sizing: none;}
.mainpage{
    
    width: 100%;

    .search{
        @include flex-layout(row,center);
        position: fixed;
        left: 16px;
        right: 16px;
        bottom: 10%;
        z-index: 9999;
        gap: 10px;
        padding: 0 14px;
        input{
            @include flex-layout(row,center);
        text-align: center;
        width: 200px;
        box-sizing: border-box;
        height: 44px;
        line-height: 44px; 
        padding: 0 14px;   
        z-index: 9999; // 지도 위로
        @include caption-r();
        border-radius: 15px;
        border: none;
        background-color: rgba(148, 148, 148, 0.45);
        box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.33);
        backdrop-filter: saturate(100%) blur(5px);
        transition: 0.5s;
        &:focus{
            width: 300px;
            outline: none;
            border: 0.3px solid rgba(148, 148, 148, 0.45);
        }
    }
    @include respond {display: none;}
}

}
.gnb-mobile{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; // 지도 위로
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    .menu{
        
        @include flex-layout(row,space-around);
        color: #7F31BC;
        width: 100%;
        padding: 0.5rem;
        border-top: 0.3px solid rgba(148, 148, 148, 0.45);
        border-top-style: groove;
        li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 52px;
            height: 44px;
            border-radius: 15px;
             
        &:hover{
            background-color: rgba(148, 148, 148, 0.45);
            box-shadow: 0 3px 3px #eee;
            backdrop-filter: saturate(100%) blur(5px);
        }
}
    }
}